{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-2">Fontes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
                  {% for f in font %}
                      <li class="list-group-item"> <a href="{{ f.url }}">{{ f.name }} </a></li>
                  {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}